.body {
  background: #333;
  height: 100vh;
  color: white !important;
  overflow-y: auto;
}

.MuiButtonBase-root,
.MuiList-root,
.MuiSvgIcon-root,
.MuiInputBase-input,
th,
td {
  color: white !important;
}

.card,
.MuiPaper-root,
.MuiDrawer-paperAnchorLeft,
.button {
  background: #424242 !important;
}

a {
  text-decoration: none !important;
}

.mainContainer {
  padding: 0 20px;
  height: calc(100% - 58px);
}

.input {
  width: 100%;
}

.MuiTableContainer-root {
  max-height: 350px;
}

.navbar {
  padding: 0 10px;
  padding-top: 10px;
}

.homeContainer {
  margin-top: 50px;
  padding: 0 10%;
}

.homeImage {
  width: 100%;
}

.homeRigth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.homeRigth h1 {
  font-size: 50px;
}

/* FORM */
.MuiFormHelperText-filled, .MuiFormHelperText-contained {
  color: red !important;
}

.MuiFormLabel-filled:not(.Mui-focused) {
  color: white !important;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiInputLabel-outlined:not(.Mui-focused) {
  color: white !important;
}

/* SIMULATION */

.simulation-container {
  height: 100%;
  position: relative;
  display: flex;
}

.servers{
  width: 20%;
}

.server{
  width: 20px;
  height: 70px;
  background-color: red;
  margin: 20px;
}

.clients{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.client{
  width: 20px;
  height: 20px;
  background-color: blue;
  margin: 20px;
}


.timer {
  position: absolute;
  z-index: 2;
  width: auto;
  height: 100px;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  border-radius: 10px;
  padding: 0 30px;
}

.timer > .blur {
  filter: blur(50px);
  width: 100%;
  height: 100%;
  background-color: #bfbfbf82;
}

.timer > div:first-child {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.timer > div:first-child > p {
  margin: 0;
  text-align: center;
}

.time-buttons {
  display: flex;
}

.time-buttons > * {
  cursor: pointer;
}
